<% include partials/header.ejs %>


    <div class="container">
        <header class="jumbotron jumbotron-fluid bg-light">
            <div class="container">
                <h1>Welcome To YelpCamp</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
                <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a></p>
            </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap:wrap">

            <% campgrounds.forEach(function(campground) { %>
                
                    <div class="col-md-3 col-sm-6">
                        <div class="img-thumbnail">
                            
                            <img class="img-fluid" src="<%= campground.image %>" alt="">
                            <figure class="figure mt-2">
                                <h5><%= campground.name %></h5>
                            </figure>
                        </div>
                    </div>
                
            <% }) %>
        </div>
    </div>

<% include partials/footer.ejs %>
