<% include ./partials/header %>
<div class="hero">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="hero-content">
            <h1 class="hero-title">Lorem ipsum dolor sit amet consectetur elit.</h1>
            <p class="hero-lead mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas nihil,
                consequatur
                numquam hic quasi
                eum debitis at distinctio alias ullam.</p>
            <a class="button hero-button" href="/campgrounds">Pogledajte naša mesta</a>
        </div>
    </div>
</div>

<section class="section section-about">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Lorem ipsum dolor sit <span>amet elit.</span></h2>
                <h3 class="section-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="/img/drustvo.jpg" alt="">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="section-lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente inventore molestiae quos iste sit
                    ab deleniti sed! Consequatur omnis ab quos animi porro. Incidunt, repellat. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Vitae similique odit fugit, magnam consequatur aut corrupti
                    excepturi quae accusamus corporis explicabo reiciendis repellendus, debitis at, consequuntur sit
                    cumque quod facere eaque atque quam voluptates qui. Dicta quaerat doloremque quis ipsa ullam
                    repellat asperiores ad, saepe facere unde expedita nulla amet?
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section section-features">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Lorem ipsum dolor sit <span>amet elit</span>.</h2>
                <h3 class="section-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
            </div>
        </div>
        <div class="row mb-0 mb-md-5">
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="features-card">
                    <div class="feature-card-image">
                        <img src="/img/priroda.svg" alt="">
                    </div>
                    <div class="feature-card-text">
                        <h1 class="feature-card-title">Lorem ipsum dolor</h1>
                        <p class="feature-card-lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                            inventore molestiae quos
                            iste sit
                            ab deleniti sed! Consequatur omnis ab quos animi porro.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


<% include ./partials/footer %>