<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-inline-flex m-2">
                <h1>Login</h1>
                <img id="avatar_img" class="m-2" src="https://png2.kisspng.com/20180331/qiw/kisspng-computer-icons-clip-art-contact-5abf07e9b3be70.8036264315224688417362.png" alt="">
            </div>
            <form action="/login" method="POST" class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Enter Your Username">
                <br>
                <input class="form-control" type="password" name="password" placeholder="Enter Your Password">
                <br>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>