<% include partials/header.ejs %>

<h1>Create A New Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="image-url" name="image" >
    <input type="submit" value="Create New Campground">
</form>

<a href="/campgrounds">Go Back</a>

<% include partials/footer.ejs %>