<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <h1>Create A New Campground</h1>
            <form class="input-group" action="/campgrounds" method="POST">
                <input class="form-control" type="text" placeholder="title" name="name"><br>
                <br>
                <input class="form-control" type="text" placeholder="image-url" name="image" ><br>
                <br>
                <input class="form-control" type="text" placeholder="description" name="description" ><br>
                <br>
                <input class="btn btn-primary btn-block" type="submit" value="Create New Campground"><br>
                <br>
            </form>

            <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include partials/footer.ejs %>