<% include ../partials/header %>
<div class="container">
    <div class="col-md-12">
        <h1>Create A New Campground</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-group" action="/campgrounds" method="POST">
                <input class="form-control" type="text" placeholder="title" name="name">
                <input class="form-control" type="text" placeholder="image-url" name="image">
                <input class="form-control" type="text" placeholder="description" name="description">
                <input class="btn btn-primary btn-block" type="submit" value="Create New Campground">
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>