.img-thumbnail img {
    width: 100%;
}

.img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption-full {
    padding: 9px;
}

#avatar_img {
    width: 70px;
    height: 70px;
}

#delete {
    display: inline;
}
